body{
  background-color: #701205;
}

h1 {
color: #FFD92B;
text-shadow: 4px 6px black;
font-family: 'Aguafina Script', cursive;
font-size: 40px;
border-style: solid;
border-color: gold;
}

button {
  /* margin-top: 75px; */
  margin-left: 10%;
  font-size: 15px;
  position:absolute;
}
/* .pic {
  margin-bottom: 100px;
  padding: 0px;
} */

.quotehere{
  color: #FFD92B;
  text-shadow: 2px 3px black;
  font-family: 'arial';
  font-size: 20px;
  /* border-style: solid;
  border-color: gold; */
  }
